<template>
    <div class="container">
	
        <h3 class="text-center text-primary"> Create Film</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" v-model="name" placeholder="Enter Film Name" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Description:</label>
            <div class="col-sm-10">
            <textarea v-model="description" rows="4" cols="50"  placeholder="Add Desription" class="form-control">        </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Release Date:</label>
            <div class="col-sm-10">
            <input type="date" class="form-control"  v-model="release_date" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Rating:</label>
            <div class="col-sm-10">
            <select  v-model="rating" class="form-control">
                <option v-for="r in ratings" v-bind:value="r">
                    {{r}}
                </option>
            </select> 
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Ticket Price:</label>
            <div class="col-sm-10">
            <input type="number" class="form-control"  v-model="ticket_price">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Country:</label>
            <div class="col-sm-10">
            <select  v-model="country_id" class="form-control">
                <option v-for="country in countries" v-bind:value="country.id">
                    {{country.name}}
                </option>
            </select> 
            </div>
        </div>
      

        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Genre:</label>
            <div class="col-sm-10">
            <multiselect v-model="genre_ids" :options="genres" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="id" :preselect-first="true">
                <template slot="selection" slot-scope="{ genre_ids, search, isOpen }"></template>
            </multiselect>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="code">Photo:</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" v-on:change="onFileChange">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button @click="saveFilm" class="btn btn-success" name="sub">Create Film</button>
            </div>
        </div>
		
</div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    export default {
        components: {
            Multiselect
        },
        props:{
            countries: {
                type: Array,
                required: true
            },
            genres: {
                type: Array,
                required: true
            }
        },

        data(){
            return {
                films: [],
                ratings: [1,2,3,4,5],
                name: '',
                description: '',
                release_date: '',
                rating: '',
                ticket_price: '',
                country_id: '',
                genre_ids: [],
                image: '',
            }
            
        },

        created: function(){
            
        },

        mounted() {
            console.log('Component mounted.')
            console.log(this.films)
        },

        methods: {
            saveFilm(){
                let vm = this;
                if(!vm.validate()) return;
                let genres_ids = [];
                vm.genre_ids.forEach(function(g){
                    genres_ids.push(g.id);
                });
                const headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                }
                axios.post('/api/film/store', {
                    headers: headers,
                    name: vm.name,
                    description: vm.description,
                    release_date: vm.release_date,
                    rating: vm.rating,
                    ticket_price: vm.ticket_price,
                    country_id: vm.country_id,
                    genre_id: JSON.stringify(genres_ids),
                    image: vm.image,
                })
                .then((response) => {
                    console.log(response);
                    vm.afterSave();
                }).catch(function(error){
                    console.log(error);
                })
            },

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                
                reader.readAsDataURL(file);
                reader.onload = (e) => {
                    let code = reader.result.split(',')[1];
                    vm.image = code;
                    console.log(code);
                };
                
            },


            validate(){
                let vm = this;
                let msg = '';
                if(vm.name=='') msg = 'Film Name is required';
                else if(vm.description=='') msg = 'Description is required';
                else if(vm.release_date=='') msg = 'Release Date is required';
                else if(vm.rating=='') msg = 'Rating is required';
                else if(vm.ticket_price=='') msg = 'Ticket Price is required';
                else if(vm.country_id=='') msg = 'Please select a Country';
                else if(vm.image=='') msg = 'Please Upload an image';
                if(msg=='') return true;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: msg,
                });
                
                return false;
            },

            afterSave(){
                let vm = this;
                vm.name ='';
                vm.description ='';
                vm.release_date ='';
                vm.rating ='';
                vm.ticket_price ='';
                vm.country_id ='';
                vm.genre_ids = [];
                vm.image ='';
                Swal.fire({
                    icon: 'success',
                    title: 'Film Saved Successfully!',
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        }
    }
</script>
