<template>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchFilms(pagination.prev_page_url)">Previous</a>
                </li>
                <li class="page-item disabled"> <a class="page-link text-dark">Page {{pagination.current_page}} of {{pagination.last_page}}</a>
                </li>
                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchFilms(pagination.next_page_url)">Next</a>
                </li>
            </ul>
        </nav>
        <div class="row justify-content-center" v-for="film in films" :key="film.id">
            <div class="col-md-12">
                <div class="card">
                <a v-bind:href="'films/' + film.slug" style="text-decoration:none">
                    <div class="card-header"><h4>{{ film.name }} ( {{film.release_date}} ) </h4></div>
                    <div class="card-body">
                        <img width="100%" :src="film.src" />
                        <img v-if="!film.src" width="100%" height="100%" :src="defaultImage" />
                        <p>{{ film.description }}</p>
                        <strong> Ticket Price: $ {{ film.ticket_price }} </strong><br>
                        <strong> {{ film.commentCount }} Comments </strong>
                        
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchFilms(pagination.prev_page_url)">Previous</a>
                </li>
                <li class="page-item disabled"> <a class="page-link text-dark">Page {{pagination.current_page}} of {{pagination.last_page}}</a>
                </li>
                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchFilms(pagination.next_page_url)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {

        data(){
            return {
                films: [],
                defaultImage: 'http://localhost:8000/storage/static/Columbia-logo.jpg',
                pagination: {}
            }
        },

        created: function(){
            this.fetchFilms();
        },

        mounted() {
            console.log('Component mounted.')
            console.log(this.films)
        },

        methods: {
            fetchFilms(page_url){
                var vm = this;
                const headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                }
                page_url = page_url || '/api/films'

                axios.get(page_url, {
                    headers: headers
                })
                .then((response) => {
                    console.log(response.data);
                    vm.films = response.data.data;
                    vm.films.forEach(function(film){
                        let media = film.media[0];
                        if(media){
                            let src = 'http://localhost:8000/storage/' + media.id + '/' + media.file_name;
                            film.src = src; 
                        }
                    });
                    vm.makePagination(response.data);
                }).catch(function(error){
                    console.log(error);
                })
            },

            makePagination(res){
                let pagination = {
                    current_page: res.current_page,
                    last_page: res.last_page,
                    next_page_url: res.next_page_url,
                    prev_page_url: res.prev_page_url,
                }
                this.pagination = pagination;
                console.log(this.pagination);
            }
        }
    }
</script>
