<template>
    <div class="container">
<div id="page-wrapper"><br>
    <h3 class="text-center text-primary">{{film.name}}</h3>

<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Film Description</th>
                    <td>{{film.description}}</td>
                </tr>
                <tr>
                    <th>Release Date</th>
                    <td>{{film.release_date}}</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>{{film.rating}} / 5</td>
                </tr>
                <tr>
                    <th>Ticket Price</th>
                    <td>{{film.ticket_price}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{film.country}}</td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td>{{allGenres}}</td>
                </tr>
                <tr>
                <th>Movie Poster</th>
                    <td v-if="film.imgSrc" ><img height="200px" :src="film.imgSrc" /></td>
                    <td v-if="!film.imgSrc"><img height="200px" :src="defaultImage" /></td>
                </tr>
                </table>
                <h3>Comments</h3>
                    <table class="table table-bordered table-hover" v-for="comment in comments" :key="comment.id">
                        <tr>
                            <td width="20%"><strong>{{comment.name}}</strong></td>
                            <td>{{comment.comment}}</td>
                        </tr>
                    </table>
                <div class="form-group" v-show="isloggedin">
                    <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="name" placeholder="Name.." required>
                    </div>
                </div>
                <div class="form-group"  v-show="isloggedin">
                    <div class="col-sm-10">
                    <textarea v-model="comment" rows="4" cols="50"  placeholder="Add Comment" class="form-control">        </textarea>
                    </div>
                </div>
                <div class="form-group"  v-show="isloggedin">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button @click="saveComment" class="btn btn-success" name="sub">Submit Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</template>

<script>
    export default {

        props:{
            film: {
                type: Object,
                required: true
            },

            comments: {
                type: Array,
                required: true
            },
            
            genres: {
                type: Array,
                required: true
            },

            isloggedin: {
                type: Boolean,
                required: true
            }
        },

        data(){
            return {
                films: [],
                defaultImage: 'http://localhost:8000/storage/static/Columbia-logo.jpg',
                name: '',
                comment: '',
                allGenres: ''
            }
        },

        created: function(){
            console.log(this.isloggedin);
        },

        mounted() {
            let vm = this;
            vm.genres.forEach(function(g){
                vm.allGenres += g.name + ' |  ';
            });
            
        },

        methods: {
            saveComment(){
                let vm = this;
                if(!vm.validate()) return;

                const headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                }

                axios.post('/api/comment/store', {
                    headers: headers,
                    name: vm.name,
                    comment: vm.comment,
                    film_id: vm.film.id,
                })
                .then((response) => {
                    console.log(response);
                    vm.afterComment(response.data);
                }).catch(function(error){
                    console.log(error);
                })
            },

            validate(){
                let vm = this;
                let msg = '';
                if(vm.name=='') msg = 'Film Name is required';
                else if(vm.comment=='') msg = 'Please write a comment';
                if(msg=='') return true;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: msg,
                });
                return false;
            },

            afterComment(data){
                console.log(data)
                let vm = this;
                vm.name = '';
                vm.comment = '';
                Swal.fire({
                    icon: 'success',
                    title: 'Thanks for Commenting!',
                    showConfirmButton: false,
                    timer: 800
                });
                vm.comments.push(data);
            }
        }
    }
</script>
